:root {
    --green: #3cbb2b;
    --green2: #46db19;
    --background: #ffffff;
    --gradient-1: #3be335;
    --gradient-2: #000000;
    --text-color: #ffffff;
    --highlight: #EE4477;
    --input-background: transparent;
    --input-border: lightgray;
    --button-background: #3cbb2b;
    --button-hover-background: #46db19;
}

html {
    font-size: 12px;
    font-weight: 300;
}

body {
    width: 90vw;
    margin: 0 auto;
    background: radial-gradient(var(--gradient-1), var(--gradient-2));
    padding: 4rem;
}

.wrapper {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #262626;
    padding: 50px;
    color: var(--text-color);
    text-align: center;
}

.wrapper h2 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10%;
}

input[type='text'] {
    height: 40px;
    font-size: 24px;
    width: calc(100% - 20px); /* Ajuste para caber na largura */
    padding: 0 10px;
    background: var(--input-background);
    border: 2px solid var(--input-border);
}

button {
    background: var(--button-background);
    border: none;
    color: var(--text-color);
    display: inline-block;
    padding: 10px 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    background: var(--button-hover-background);
}

input[type='radio'] {
    display: none; /* Esconde o radio button original */
}

input[type='radio'] + b {
    display: inline-block;
    width: 30px; /* Tamanho desejado */
    height: 30px; /* Tamanho desejado */
    border: 2px solid var(--text-color);
    margin: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px; /* Centraliza o texto */
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

input[type='radio']:checked + b {
    background: var(--highlight);
    color: var(--text-color);
}

input[type='radio'] + b:hover {
    background: var(--button-hover-background);
}

#result {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin-top: 20px;
}

@media (min-width: 800px) {
    body {
        width: 60vw;
    }
}
