:root {
    --green: #3cbb2b;
    --green2: #46db19;
    --background: #ffffff;
    --gradient-1: #3be335;
    --gradient-2: #000000;
    --text-color: #ffffff;
    --highlight: #EE4477;
    --input-background: transparent;
    --input-border: lightgray;
    --button-background: #3cbb2b;
    --button-hover-background: #46db19;
}

html {
    font-size: 12px;
    font-weight: 300;
}

body {
    width: 90vw;
    margin: 0 auto;
    background: radial-gradient(var(--gradient-1), var(--gradient-2));
    padding: 4rem;
}

main {
    text-align: center;
    background: var(--background);
    border: solid var(--green);
    border-width: 16px;
    min-height: 40vh;
    border-radius: 2rem;
    padding: 4rem;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 3.2rem;
    margin: 2rem;
}

p {
    font-size: 1.8rem;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.button-wrapper div {
    display: flex;
    gap: 1rem;
}

button {
    border: none;
    cursor: pointer;
    background: var(--button-background);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background: var(--button-hover-background);
}

@media (min-width: 800px) {
    body {
        width: 60vw;
    }
}
